<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<!-- 交给spring去做了
		<property name="connection.url">
		jdbc:mysql://localhost:3306/stategrid?useUnicode=true&amp;characterEncoding=utf8
		</property>
		<property name="connection.driver_class">
		com.mysql.jdbc.Driver
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">0817</property>
	-->

	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="hbm2ddl.auto">update</property>
	<property name="show_sql">false</property>
	<property name="format_sql">true</property>

	<!-- 开启二级缓存 -->
	<property name="hibernate.cache.use_second_level_cache">
		true
	</property>
	<!-- 提供二级缓存的供应商 -->
	<property name="hibernate.cache.provider_class">
		org.hibernate.cache.EhCacheProvider
	</property>
	<!-- 启用查询缓存 -->
	<property name="hibernate.cache.use_query_cache">true</property>
	<!--
		设置自动提交
		<property name="connection.autocommit">true</property>-->
	<mapping resource="cn/sina/elec/domain/Elec.hbm.xml" />
	<mapping resource="cn/sina/elec/domain/ElecCommonMsg.hbm.xml" />
	<mapping
		resource="cn/sina/elec/domain/ElecCommonMsgContent.hbm.xml" />
	<mapping resource="cn/sina/elec/domain/ElecSystemDDL.hbml.xml" />
	<mapping resource="cn/sina/elec/domain/ElecUser.hbm.xml" />
	<mapping resource="cn/sina/elec/domain/ElecUserFile.hbm.xml" />
	<mapping resource="cn/sina/elec/domain/ElecPopedom.hbm.xml" />
	<mapping resource="cn/sina/elec/domain/ElecRole.hbm.xml" />
	<mapping resource="cn/sina/elec/domain/ElecRolePopedom.hbm.xml" />

	<!-- 指定使用二级缓存的类 放在maping下面 -->
	<!-- 配置类级别的二级缓存 -->
	<mapping resource="cn/sina/elec/domain/ElecExportFields.hbm.xml" />
	<mapping resource="cn/sina/elec/domain/ElecFileUpload.hbm.xml" />
	<class-cache usage="read-write"
		class="cn.sina.elec.domain.ElecSystemDDL" />
</session-factory>
</hibernate-configuration>